*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h3{
    font-size: 20px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
    padding: 3%;
    padding-bottom: 7%;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

header div.logo{
    width: 50%;
    padding: 2%;
}

header .form{
    width: 50%;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .search {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 8%;
    margin: 3%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: rgb(73, 73, 73);
}

.description{
    display: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.description:hover{
    display: block;
    opacity: 100;
    transition: 1s;
}

.fa-truck {
    transition: transform 3s;
}

.fa-truck:hover{
    transform: rotateZ(270deg);
    transition: 2s;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 16px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ffffff;
    position: relative;
    padding: 15px;
}

.boton{
    transition: background-color border-radius 0s;
}

.boton:hover{
    background-color: #002ad4;
    border-radius: 5px;
    transition: 0s;
}

.contenedor{
    transition: box-shado 1s;
}

.contenedor:hover{
    box-shadow: 5px #000;
    transition: 1s;
}

.login{
    margin-top: 10%;
}

main.register{
    margin-top: 5%;
}

.perfil,
.interest,
.ftperfil {
    margin-top: 6%;
}


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 40%;
    }
    .discount {
        margin-left: 2%;
    }
}

@media (max-width: 768px){
    nav{
        display: none;
    }
}


@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}
